{:deps  {org.clojure/clojure            {:mvn/version "1.10.0"}
         com.taoensso/timbre            {:mvn/version "4.10.0"}
         org.clojure/math.combinatorics {:mvn/version "0.1.4"}
         uncomplicate/neanderthal       {:mvn/version "0.22.0"}
         ubergraph                      {:mvn/version "0.5.2"}
         com.taoensso/nippy             {:mvn/version "2.14.0"}}
 :paths ["src" "resources"]
 :aliases
        {:rebl {:extra-deps {org.clojure/clojure         {:mvn/version "1.10.0"}
                             org.clojure/core.async      {:mvn/version "0.4.490"}
                             com.cognitect/REBL          {:mvn/version "0.9.149"}
                             org.openjfx/javafx-fxml     {:mvn/version "11.0.1"}
                             org.openjfx/javafx-controls {:mvn/version "11.0.1"}
                             org.openjfx/javafx-swing    {:mvn/version "11.0.1"}
                             org.openjfx/javafx-base     {:mvn/version "11.0.1"}
                             org.openjfx/javafx-web      {:mvn/version "11.0.1"}}
                :main-opts  ["-m" "cognitect.rebl"]}}}